{% extends 'app/base1.html' %}
{% load static %}

{% block contenido %}
<h2 style="text-align: center;">Listar Productos</h2>
<table class="table table-condensed table-striped ">
    <thead>  
        <tr>
            <th>CODIGO</th>
            <th>NOMBRE</th>
            <th>DESCRIPCION</th>
            <th>PRECIO</th>
            <th>STOCK</th>
            <th>TIPO</th>
            <th>IMAGEN</th>
            <th>FECHA INGRESO</th>
            <th>OPCIONES</th>
        </tr>
    </thead>
    <tbody>
     {% for aux in listaProductos %}
         <tr>
             <td>{{ aux.codigo }}</td>
             <td>{{ aux.nombre }}</td>
             <td>{{ aux.descripcion }}</td>
             <td>{{ aux.precio }}</td>
             <td>{{ aux.stock }}</td>
             <td>{{ aux.tipo }}</td>
             {% if aux.imagen %}
             <td> <img src="{{ aux.imagen.url }}"  alt="" width="80"> </td>
             {% else %}
             <td> No tiene Imagen... </td>
             {% endif %}
             <td>{{ aux.create_at }}</td>
             <td>
                 <a href="{% url 'modificar' aux.codigo %}" class="btn btn-info">Modificar</a>
                 <a onclick="eliminar({{ aux.codigo }})" class="btn btn-danger">Eliminar</a>
             </td>
         </tr>
     {% endfor %}
    </tbody>
</table>

{% endblock %}