{% extends 'app/base2.html' %}
{% load static %}
    
    {% block contenido %}
    
    <div class="p-3">
        
        <button class="tablink" onclick="openPage('Home', this, 'rgb(167, 136, 36)')">CRUD Cliente</button>
        <button class="tablink" onclick="openPage('News', this, 'rgb(122, 85, 16)')" id="defaultOpen">CRUD Productos</button>

        <div id="Home" class="tabcontent">
            <h6><a href="{% url 'agregarCliente' %}" style="font-style: italic; color: black;">AGREGAR CLIENTES</a> </h6>
            <h6><a href="{% url 'listarCliente' %}"" style="font-style: italic; color: black;">LISTAR CLIENTES</a> </h6>
        </div>

        <div id="News" class="tabcontent">
            <h6> <a href="{% url 'agregarProducto' %}"" style="font-style: italic; color: black;">AGREGAR PRODUCTOS</a> </h6>
            <h6> <a href="{% url 'listar' %}"" style="font-style: italic; color: black;">LISTAR PRODUCTOS</a> </h6>
        </div>
    </div>


    
        
  {% endblock %}