{% extends 'app/base1.html' %}
{% load static %}


{% block contenido %}
    <table >
  
      <tr>
        <td  >
          <div class="containerr">
            <img src="{% static 'app/img/doggie.jpg' %}" alt="Avatar" class="image">
            <div class="overlay">
             <a class="text" href="{% url 'login' %}">Inicie Sesion </a>
            </div>
         </div>
        </td>
        <td ><H3>PRODUCTOS PARA PERRO</H3></td>
      </tr>
      <tr>
        <td><h3>PRODUCTOS PARA GATOS </h3></td>
        <td><div class="containerr ">
          <img src="{% static 'app/img/gato.jpg' %}" alt="Avatar" class="image">
          <div class="overlay">
          <a class="text" href="{% url 'login' %}">Inicie Sesion </a>
        </div></td>
      </tr>
      <tr>
        <td><div class="containerr">
          <img src="{% static 'app/img/eeee.jpg' %}" alt="Avatar" class="image">
          <div class="overlay">
            <a class="text" href="{% url 'login' %}">Inicie Sesion </a>
          </div>
        </div></td>
        <td><h3>OTROS PRODUCTOS</h3></td>
      </tr>
      
    </table>
  


{% endblock %}
