{% extends 'app/base2.html' %}
  {% block contenido %}

    <h2 class="mt-3" style="text-align: center;">Seguimiento de Compras Realizadas</h2>
    <table class="mt-3 m-3">
        <tr>
          <th>ID Pedido</th>
          <th>Monto Cancelado</th>
          <th>Estado</th>
        </tr>
        <tr>
          <td><a class="a" href="" data-toggle="modal" data-target="#seguimiento4">747483</a></td>
          <td>$56.990</td>
          <td><a class="a" href="" data-toggle="modal" data-target="#seguimiento1">En Camino...</a></td>
        </tr>
        <tr>
          <td><a class="a" href="" data-toggle="modal" data-target="#seguimiento5">875483</a></td>
          <td>$7.589</td>
          <td><a class="a" href="" data-toggle="modal" data-target="#seguimiento2">Entregado.</a></td>
        </tr>
        <tr>
          <td><a class="a" href="" data-toggle="modal" data-target="#seguimiento6">875483</a></td>
          <td>$8.923</td>
          <td><a class="a" href="" data-toggle="modal" data-target="#seguimiento3">Procesando Pago</a></td>
        </tr>
      </table>
        

      <div class="modal" id="seguimiento1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <p>Pedido:  23/03/2018  13:34pm</p>
                <p>Pago:  23/03/2018  13:54pm</p>
                <p>Procesando Pedido:  25/03/2018  08:34am</p>
                <p>Pedido en camino:  15/09/2018  19:24pm</p>
                <p>Pedido Recibido:  ---</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
      </div>

      <div class="modal" id="seguimiento2">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <p>Pedido:  15/02/2022  16:45pm</p>
                <p>Pago:  15/02/2022  17:03pm</p>
                <p>Procesando Pedido:  19/02/2022  16:01pm</p>
                <p>Pedido en camino:  27/03/2022  20:45pm</p>
                <p>Pedido Recibido:   02/06/2022  08:19am</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
      </div>

      <div class="modal" id="seguimiento3">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <p>Pedido:  19/04/2022  22:25pm</p>
                <p>Pago:  19/04/2022  22:39pm</p>
                <p>Procesando Pedido:   ---</p>
                <p>Pedido en camino:   ---</p>
                <p>Pedido Recibido:   ---</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
      </div>

      <div class="modal" id="seguimiento4">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Productos: </h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <p> <1> Comida Perro 15k </p>
                <p> <5> Paquetes de galletas para gatos 20u </p> 
                <p> <1> Comida Gato 20k </p>  
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
      </div>

      <div class="modal" id="seguimiento5">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Productos: </h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                  <p> <2> Collar Canino AntiPulgas Rojo </p>
                  <p> <3> Juguete para gatos </p> 
                  <p> <1> Comida Gato Light 6k </p> 
                  <p> <6> Galletas Caninas </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
      </div>

      <div class="modal" id="seguimiento6">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Productos: </h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body" >
                <p> <1> Cama XL Azul</p>
                <p> <3> Vitaminas para Perros 20u</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
      </div>

  {% endblock %}
      